body{
  background: #F0F0F0;
  direction: rtl;
  font-size: 14px;
}
a{
  text-decoration: none;
}
h3{
  font-size: 14px;
}

.text-lime{
  color: #a8d031;
}
header{
  background: url(/images/header-bg.png) repeat-x;
  color: #FFFFFF;
  height: 170px;
  -moz-box-shadow: 0px 0px 30px 0px #888;
  -webkit-box-shadow: 0px 0px 30px 0px #888;
  box-shadow: 0px 0px 30px 0px #888;
}
header .banner{
  background: transparent url(/images/banner.png) 430px 23px no-repeat;
  height: 147px;
  padding-top: 23px;
}
