body{
    /*    background: #F0F0F0;*/
    direction: rtl;
    font-size: 12px;
    font-family: Tahoma;
}
a{
    text-decoration: none;
    outline: medium none !important;
    color: #030303;
    font-size: 12px;
}
h3{
    font-size: 14px;
}
button{
    border: 0;
}
li{
    list-style: none;
}
.right{
    float: right;
}
.text-lime{
    color: #a8d031;
}
.text-blue{
    color: #4c84b5;
}
header{
    background: url(/images/header-bg.png) repeat-x;
    color: #FFFFFF;
    height: 224px;
    -moz-box-shadow: 0 -26px 114px 0 #888888;
    -webkit-box-shadow: 0 -26px 114px 0 #888888;
    box-shadow: 0 -26px 114px 0 #888888;
    margin-bottom: 10px;
}

header #header_menu nav li{
    float: right;
    color: #ffffff;
}
header #header_menu nav li a{
    color: #ffffff;
    font-size: 12px;
}
header .banner {
    background: url("/images/headersprite.png") no-repeat scroll 472px 36px transparent;
    height: 184px;
}
header #header_search{
	background: #2e6c70;
	border-radius: 4px;
	margin: 9px 0 0 0;
}
header #header_search input {
	background: transparent;
	border: none;
	color: #fff;
	outline: none;
}
header #header_search button {
    background: url("/images/headersprite.png") no-repeat scroll 4px -237px transparent;
    height: 19px;
    width: 38px;
    float: right;
}
header #header_link li, header #header_share li, header #nav ul li{
	float: right;
}
header #header_link li a {
    background: url("/images/headersprite.png") no-repeat scroll 0 -212px transparent;
    display: block;
    float: left;
    height: 21px;
    margin: 8px 0 0px 0;
    text-indent: 99999px;
    width: 87px;
}
header #header_link li a.signup{
	background: url("/images/headersprite.png") no-repeat scroll 0 -185px transparent;
}

header #header_share ul {
    border-left: 2px solid #A8D031;
    margin-top: 8px;
    padding-bottom: 3px;
}
header #header_share li a {
    display: block;
    float: left;
    height: 17px;
    text-indent: -99999px;
    width: 20px;
    margin: 1px;
}
header #header_share li a.facebook{
	background: url("/images/headersprite.png") no-repeat scroll 0 -281px transparent;
}
header #header_share li a.twitter{
	background: url("/images/headersprite.png") no-repeat scroll 0 -259px transparent;
}
header #header_share li a.rss{
	background: url("/images/headersprite.png") no-repeat scroll 0 -303px transparent;
}
header #header_date {
    color: #2E6C70;
    padding: 10px 0 0;
}
header #header_date span {
    display: block;
    float: right;
    height: 15px;
    margin-left: 4px;
    text-indent: -99999px;
    width: 53px;
}
header #header_date span.mon{
	background: url("/images/headersprite.png") no-repeat scroll -17px -371px  transparent
}
header #header_date span.th{
	background: url("/images/headersprite.png") no-repeat scroll -11px -393px transparent
}
header #header_date span.wed{
	background: url("/images/headersprite.png") no-repeat scroll -13px -416px transparent
}
header #header_date span.thr{
	background: url("/images/headersprite.png") no-repeat scroll -7px -439px transparent
}
header #header_date span.fri{
	background: url("/images/headersprite.png") no-repeat scroll -13px -462px transparent
}
header #header_date span.sat{
	background: url("/images/headersprite.png") no-repeat scroll -16px -485px transparent
}
header #header_date span.san{
	background: url("/images/headersprite.png") no-repeat scroll -17px -507px transparent
}

header #nav nav{
    margin-top: 33px;
}

header #nav ul li a, header #nav ul li span.hover{
	display: block;
	width: 137px;
	height: 36px;
	text-indent: -99999px;
	background-image:  url(/images/menu.png);
	position: relative;
	background-position: -24px -11px;
}

header #nav ul li a.home{
      background-position: -868px -11px;
}
header #nav ul .high a.home:hover, header #nav ul li a.home .hover{
      background-position: -868px -174px;
}
header #nav ul li a.about{
    background-position: -726px -11px;
}
header #nav ul .high a.about:hover, header #nav ul li a.about .hover{
    background-position: -726px -174px;
}
header #nav ul li a.done{
    background-position: -585px -11px;
}
header #nav ul .high a.done:hover, header #nav ul li a.done .hover{
    background-position: -585px -174px;
}
header #nav ul li a.ads{
    background-position: -305px -11px;
}
header #nav ul .high a.ads:hover, header #nav ul li a.ads .hover{
    background-position: -305px -174px;
}
header #nav ul li a.pub{
    background-position: -166px -11px;
}
header #nav ul .high a.pub:hover, header #nav ul li a.pub .hover{
    background-position: -166px -174px;
}
header #nav ul li a.blog{
    background-position: -443px -11px;
}
header #nav ul .high a.blog:hover, header #nav ul li a.blog .hover{
    background-position: -443px -174px;
}
header #nav ul .high a.contactus{
    background-position: -24px -11px;
}
header #nav ul .high a.contactus:hover, header #nav ul li a.contactus .hover{
    background-position: -24px -174px;
}







#bottomPlayer {
    position: fixed;
    bottom:0px;
    width: 100%;
    background:#28170d;
    display: none;
    height: 100px;
}

footer{
    background: none repeat scroll 0 0 #1f1f1f;
    color: #b2b3b4;
    margin-top: 10px;
    width: 100%;
    height: 170px;
    -moz-box-shadow: 0px 0px 30px 0px #888;
    -webkit-box-shadow: 0px 0px 30px 0px #888;
    box-shadow: 0px 0px 30px 0px #888;
    padding: 15px 0 0;
}

footer nav h3{
    width: 177px;
    height: 28px;
    text-indent: -99999px;
}

footer nav a, footer nav a:visited{
    color: #b2b3b4;
}

footer nav.shareNav a{
    display: inline-block;
    height: 66px;
    width: 60px;
    text-indent: -99999px;
}

footer nav.shareNav h3{
    background: transparent url(/images/footer-sprite.png) 0px -189px;
}

footer nav ul{
    font-size: 12px;
}

footer nav ul li{
    background: url(/images/btn-li.png) no-repeat right 7px;
    padding: 0 13px 0 0;
    margin-right: 10px;
}
footer nav.copyrightNav h3{
    background: transparent url(/images/footer-sprite.png) 0px 2px;
    height: 22px;
}

footer nav.friendLinkNav h3{
    background: transparent url(/images/footer-sprite.png) 0px -22px;
}

footer nav.siteNav h3{
    background: transparent url(/images/footer-sprite.png) 0px -91px;
}

footer nav a.facebook{
    background: transparent url(/images/footer-sprite.png) 117px -123px;
}

footer nav a.twitter{
    background: transparent url(/images/footer-sprite.png) 0px -123px;
}

footer nav a.rss{
    background: transparent url(/images/footer-sprite.png) 61px -123px;
}

#loading{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    z-index: 999;
    position: fixed;
    text-align: center;
}
#loading img{
    cursor: pointer;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 999999;
}
/********************************************************************************/

.left_container{
    background:   #ececec;
    min-height: 200px;
    border: 1px solid #d7d7d7;
    padding: 5px;
    margin: 0px 0 10px 0;
    -moz-box-shadow: 0 15px 27px -3px #D7D7D7;
    -webkit-box-shadow: 0 15px 27px -3px #D7D7D7;
    box-shadow: 0 15px 27px -3px #D7D7D7;
}


.left_container h3{
    background: url("/images/finsprite.png") no-repeat scroll -3px -25px #DEDEDE;
    height: 22px;
    margin: 0;
    text-indent: -99999px;

}
.left_container h3.friend_site{
    background: url("/images/finsprite.png") no-repeat scroll -3px -53px #DEDEDE;
    margin-bottom: 15px;
}
.left_container h3.ahadith{
    background: url("/images/finsprite.png") no-repeat scroll -3px -78px #DEDEDE;
}
.play_owner_info {
    background: url("/images/gard-1.png") repeat scroll 0 -0px transparent;
    color: #FFFFFF;
    height: 190px;
    position: relative;
}

.play_owner_info_text{
    padding: 0 10px;
    height: 159px;
    width: 528px;
}
.play_owner_info_links {
    bottom: 5px;
    left: 42px;
    position: absolute;
}
.play_owner_info_links li{
    display: block;
    float: right;
    height: 22px;
    
}
.play_owner_info_links a {
    background: url("/images/affichesprite.png") no-repeat scroll 0 -227px transparent;
    color: #030303;
    display: block;
    font-size: 12px;
    height: 12px;
    padding: 5px;
    text-indent: -99999px;
    width: 18px;
}
.play_owner_info_links li a.share{
    background-position: 0px -251px;
}
.play_owner_info_links li a.favorite{
    background-position: 0px -273px;
}
.play_owner_info_links li.share a{
    color: #befe00;
}
.play_owner_info_links li.favorite a{
    color: #92f8ff;
}
#breadcrumbs ul {
    background: url("/images/gard-1.png") repeat scroll 0 -228px transparent;
    height: 19px;
    padding: 2px 3px 0 0px;
}
#breadcrumbs li{
	float: right;
}
#breadcrumbs li a {
    background: url("/images/affichesprite.png") no-repeat scroll 79px -293px transparent;
    color: #1D8F96;
    padding: 0 9px;
}

.play_owner_info h2 {
    background: url("/images/finsprite.png") no-repeat scroll 394px 2px transparent;
    color: #DDFF77;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    margin: 0;
    padding: 7px 105px 0 0;
    width: 393px;
}

.play_owner_info .image{
    background: url("/images/bg-player.png") repeat scroll 0 0 transparent;
    border-radius: 7px 7px 7px 7px;
    padding: 5px;
    float: left;
    margin: 10px 16px 0px 6px;
}
.play_owner_info img{
    width: 135px;
    height: 108px;
    float: right;
}
.play_owner_info .info {
    /*background: url("/images/affichesprite.png") no-repeat scroll 40px -122px transparent;*/
    float: right;
    height: 112px;
    margin: 0 58px 0 0;
    padding: 18px 0 0;
    width: 100%;
    position: relative;
}
.play_owner_info_onglet ul{
	
}
.play_owner_info_onglet ul li {
    float: right;
    margin: 0 1px 0 0;
}
.play_owner_info_onglet ul li a{
	display: block;
	background-image: url('/images/affichesprite.png');
	text-indent: -99999px;
	    width: 115px;
	    height: 26px;
}
.play_owner_info_onglet ul li a.quran_active{
	background-position: -612px 0;
}
.play_owner_info_onglet ul li a.about_active{
	background-position: -494px 0;
}
.play_owner_info_onglet ul li a.anashid_active{
	background-position: -374px 0;
}
.play_owner_info_onglet ul li a.pic_active{
	background-position: -255px 0;
}
.play_owner_info_onglet ul li a.video_active{
	background-position: -130px 0;
}
.play_owner_info_onglet ul li a.doc_active{
	background-position: -4px 0;
}

.play_owner_info_onglet ul li a.quran_hover, .play_owner_info_onglet ul li a.quran_active:hover{
	background-position: -612px -22px;
}
.play_owner_info_onglet ul li a.about_hover, .play_owner_info_onglet ul li a.about_active:hover{
	background-position: -494px -22px;
}
.play_owner_info_onglet ul li a.anashid_hover, .play_owner_info_onglet ul li a.anashid_active:hover{
	background-position: -374px -22px;
}
.play_owner_info_onglet ul li a.pic_hover, .play_owner_info_onglet ul li a.pic_active:hover{
	background-position: -255px -22px;
}
.play_owner_info_onglet ul li a.video_hover, .play_owner_info_onglet ul li a.video_active:hover{
	background-position: -130px -22px;
}
.play_owner_info_onglet ul li a.doc_hover, .play_owner_info_onglet ul li a.doc_active:hover{
	background-position: -4px -22px;
}

.play_owner_info_onglet ul li a.quran_disabled{
	background-position: -612px -44px;
}
.play_owner_info_onglet ul li a.about_disabled{
	background-position: -494px -44px;
}
.play_owner_info_onglet ul li a.anashid_disabled{
	background-position: -374px -44px;
}
.play_owner_info_onglet ul li a.pic_disabled{
	background-position: -255px -44px;
}
.play_owner_info_onglet ul li a.video_disabled{
	background-position: -130px -44px;
}
.play_owner_info_onglet ul li a.doc_disabled{
	background-position: -4px -44px;
}


.play_sublisting{
    margin-top: 8px;
}
.play_sublisting h2 {
    color: #5b5c5c;
    font-size: 11px;
    height: 18px;
    margin: 5px 0;
    padding: 5px 29px 0;
    border: 1px solid #acacac;
   border-radius: 5px;
   background: url("/images/gard-1.png") repeat scroll 0 -203px transparent;
}
.play_sublisting h2 span{
    background: url("/images/affichesprite.png") repeat scroll 0 -307px transparent;
    display: block;
    float: right;
    height: 13px;
    margin-top: 1px;
    width: 17px;
}
.play_sublisting h2 span.colapsed {
	background: url("/images/affichesprite.png") repeat scroll 0 -320px transparent;
}
.play_listing{
    margin: 10px 0;
    padding: 0 0 25px;
}
.play_listing h3{
    background: url("/images/finsprite.png") no-repeat scroll 608px -102px transparent;
    height: 31px;
    margin: 8px 0;
    text-indent: -99999px;
}
.play_sublisting_item{
    background: #cbe5e6;
    margin-top: 3px;
    float: right;
}
.play_sublisting .odd{
	background: transparent;	
}
.play_sublisting_item a.track {
    background: url("/images/affichesprite.png") no-repeat scroll 193px -376px transparent;
    color: #0095D5;
    float: right;
    font-weight: bold;
    padding: 3px 22px 3px 3px;
}
.play_sublisting_item div{
    padding: 1px 0px 0 0;
}
.play_sublisting_item ul{
    float: left;
    margin: 3px 0 0 9px;
}
.play_sublisting_item li{
    float: right;
    list-style: none;
}

.play_sublisting_item li a{
    display: block;
    height: 13px;
    margin-left: 5px;
    text-indent: -999999px;
    width: 10px;
    padding: 3px;
}

.play_sublisting_item a.min-share{
    background: url("/images/affichesprite.png") no-repeat scroll -96px -339px transparent;
}
.play_sublisting_item a.min-download{
    background: url("/images/affichesprite.png") no-repeat scroll -7px -339px transparent;
}
.play_sublisting_item a.min-addtoplaylist{
    background: url("/images/affichesprite.png") no-repeat scroll -48px -339px transparent;
}
.play_sublisting_item a.min-listen{
    background: url("/images/affichesprite.png") no-repeat scroll -27px -339px transparent;
}
.play_sublisting_item a.min-report{
    background: url("/images/affichesprite.png") no-repeat scroll -71px -339px transparent;
}

#home .home_cat{
	border: 1px solid #d7d7d7;
	min-height: 200px;
	margin-bottom: 5px;
	background: #ececec;
	color: #07565b;
}
#home .home_cat h2 {
    background-image: url("/images/homesprite.png");
    height: 24px;
    margin: 2px;
    text-indent: -99999px;
}
#home .home_cat h2.most_visited{
	background-position: 0px 0px;
}
#home .home_cat h2.last_add{
	background-position: 0px -24px;
}
#home .home_cat h2.last_track{
	background-position: 0px -48px;
}
#home .home_cat h2.random_track{
	background-position: 0px -72px;
}
#home .home_cat .odd{
	background: url("/images/homesprite.png") no-repeat 0px -178px;
}
#home .home_cat .home_item{
	float: right;
	margin: 5px;
	width: 219px;
}
#home .home_cat .home_item p{
	float: right;
    width: 100%;
}
#home .home_cat .home_item p img, #home .home_cat .home_item2 p img{
	float: right;
	margin: 0 0 0 6px;
}
#home .home_cat .home_item p span, #home .home_cat .home_item2 p span{
	display: block;
	
}

#home .home_cat .home_item p a, #home .home_cat .home_item2 p a{
    display: block;
    padding: 12px 0 0;
    color: #009287;
    font-weight: bold;
}
#home .redlink .home_item p a {
    color: #960b74;
}
#home .greenlink .home_item2 p a {
    color: #68960b;
}
#home .bluelink .home_item2 p a {
    color: #0b6a96;
}
#home .home_cat .home_item2 {
    background: url("/images/homesprite.png") no-repeat scroll 0 -96px transparent;
    height: 67px;
    margin: 4px 2px;
    padding: 4px 3px;
}
#home .home_cat .home_item2 p{
	float: right;
    width: 366px;
     margin: 8px 2px 0 0;
}
#home .home_cat .home_item2 p{
	float: right;
    width: 345px;
}
#home .home_cat .home_item2 ul{
	float: left;
}
#home .home_cat .home_item2 ul li a {
    background: url("/images/homesprite.png") no-repeat scroll 0 -229px transparent;
    display: block;
    height: 21px;
    text-indent: -99999px;
    width: 103px;
    margin: 0 0 3px; 
}
#home .home_cat .home_item2 ul li a.download{
	background-position: 0 -250px ;
} 
#home .home_cat .home_item2 ul li a.addtoplaylist{
	background-position: 0 -268px ;
} 